.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 180px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    color: #50abff;
}

#createNoteButton {
    padding-left: .5em;
    padding-top: .5em;
    padding-bottom: .7em;
    margin: 0;
    cursor: pointer;
}

.notelist > a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 13px;
  color: #818181;
  display: block;
}

.notelist > a.selected {
  border-style: outset;
}

.notelist > a > div {
  position: relative;
  display: inline;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 180px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

#editor {
    min-height: 400px;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

.persisted::before { 
  content: "✔";
  color: green;
  position: absolute;
  right: -14px;
  top: 0px;
}

.upsynced::before {
  content: "↑";
  color: green;
  position: absolute;
  right: -14px;
  top: 0px;
}

.noupsynced::before {
  content: "↑";
  color: red;
  position: absolute;
  right: -14px;
  top: 0px;
}
.downsynced::after {
  content: "↓";
  color: green;
  position: absolute;
  right: -22px;
  top: 0px;
}
.nodownsynced::after {
  content: "↓";
  color: red;
  position: absolute;
  right: -22px;
  top: 0px;
}