footer img {
  display: none;
}

nav .title h1 a {
  display: none;
}

footer {
  background-color: #b93c1d;
}

#resizer {
  background-color: #b93c1d;
}

.main section article.readme h1:first-child img {
  display: none;
}

.main section article.readme h1:first-child {
  margin-bottom: 16px;
  margin-top: 30px;
}

.main section article.readme h1:first-child::before {
  content: "Yjs";
  font-size: 2em;
}